# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

#chrome-linux64/
chrome-linux64/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Output files
scraper_results.json
